.fa-circle-check{
    color: #C85C8E;
}
.boxes{
    box-shadow: 10px 10px 30px #EAEAEA;
}
.boxes i{
    color: #C85C8E;
}
.boxes a{
    color: #3D5656;
}
.cl{
    text-align: center;
}
.clients-slider img{
    width: 114px;
    height: 50px;
    margin: 40px;
    margin-bottom: 60px;
    opacity: 0.1;
    align-self: center;
}
.clients-slider img:hover{
    opacity: 1;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #C85C8E;
}
.testimonials img{
    width: 100px;
    height: 100px;

}
.testimonials{
    box-shadow: 5px 5px 10px #EAEAEA;
}